*{
    padding: 0;
    margin: 0;
    font-family: 'Bona Nova', serif;
    box-sizing: border-box;
}
.numBox {
    display: flex;
    gap: 0.2rem;
    h3{
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
    }

}
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #8d8989;
    border: 3px solid white;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  input[type='radio']:active {
    background-color: #333;
  }
  input[type='radio']:checked {
    background-color: #333;
  }
}
@media screen and (max-width: 470px) {
    .numBox {
            h3{
            width: 8px;
            height: 8px;
            margin-left: 0.6rem;
            margin-top: -0.14rem;
            align-items: center;
            &:hover{
            cursor: pointer;}
        
        }
    
    }
    input[type='radio'] {
        box-sizing: border-box;
        appearance: none;
        background: white;
        outline: 2px solid #8d8989;
        border: 3px solid white;
        width: 8px;
        height: 8px;
      }
      input[type='radio']:active {
        background-color: #333;
      }
      input[type='radio']:checked {
        background-color: #333;
      }
    }
    .label{
        display: flex;
    }
    
    